.med-card {
    width: 100%;
    padding: 40px 40px 15px;
    transition: all 0.4s ease-in-out;
}
.med-card h1 {
    font-size: 32px;
    font-weight: 700;
    transition: all 0.4s ease-in-out;
}

.med-card .underline {
    width: 100%;
    background-image: linear-gradient(to left, #559af3, #1462f3, #559af3);
    height: 6px;
}
.med-card .available {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0;
    transition: all 0.4s ease-in-out;
}
.med-card .treat-side {
    display: flex;
    gap: 15px;
    margin: 20px 0;
    transition: all 0.4s ease-in-out;
}
.med-card .chiled{
    width: 50%;
        transition: all 0.4s ease-in-out;
}
.med-card .chiled h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    transition: all 0.4s ease-in-out;
}
.med-card .chiled .option {
    font-size: 18px;
        transition: all 0.4s ease-in;
}
.med-card .chiled .option::before{
    content: "";
    width: 5px;
    height: 5px;
    background-color: black;
    display: inline-block;
    padding: 3px;
    margin-right: 10px;
}
.directions{
    display: flex;
    background-image: linear-gradient(to left, #559af3, #1462f3, #559af3);
    width: 100%;
    padding: 10px 40px;
    color: aliceblue;
    margin-bottom: 10px;
}
.directions .head {
    font-size: 20px;
    font-weight: 700;
    align-self: center;
}
.directions .content {
    font-size: 18px;
    align-self: center;
    margin-left: 10px;
}

.med-card:hover {
    background-color: #559af3;
}
.btn-buy{
    padding: 10px 15px !important;
    font-weight: bold;
    background-color: #1462f3 !important;
    font-size: 18px;
}
.btn-buy:hover{
    background-color: #073791 !important;
}
.titlebox{
 width: 500px !important;
}
.med-card:hover h1 ,
.med-card:hover div {
    color: white;
}
.med-card:hover .option::before {
    background-color: white ;
}